.navbar-custom {
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #7a1919; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    
   
}
.colors{
    color : white;
    text-decoration: none;
    font-family: 'Dela Gothic One', sans-serif;
}
.colors:hover{
    color: pink;
    text-decoration: none;
}
.loginpic {
    height: 55px;
    width: auto;
    padding: 5px;
    border-radius: 50% ;
    cursor: pointer;

}