body{
    background-color: #fcfcff;
}
.doboz{ 
    
    border-radius: 10px;
    height: auto;
    width: 1000px;
    margin: 70px auto;
    text-align: center;
    padding: 100px;
    color: white;
    background-color: #7a1919;
    font-family: 'Dela Gothic One', sans-serif;
}